<footer>
  <div class="container beautiful-jekyll-footer">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
		      {{#if @blog.twitter }}
          <li>
            <a href="{{twitter_url @blog.twitter}}" title="Twitter">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{/if}}
          {{#if @blog.facebook }}
          <li>
            <a href="{{facebook_url @blog.facebook}}" title="Facebook">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{/if}}
          <li>
            <a href="https://www.snapchat.com/add/dinchamion" title="Snapchat">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-snapchat fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/dinchamion" title="Instagram">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
    		  <li>
      			<a href="{{@blog.url}}/rss/" title="RSS">
      			  <span class="fa-stack fa-lg">
        				<i class="fa fa-circle fa-stack-2x"></i>
        				<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      			  </span>
      			</a>
    		  </li>
        </ul>
        <p class="copyright text-muted">
          &copy; {{date format="YYYY"}}

    		  &nbsp;&bull;&nbsp;
    		  <a href="{{@blog.url}}">{{@blog.title}}</a>
          &nbsp;&bull;&nbsp;
          All original content is
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC-BY-SA-4.0" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
  	    </p>
        <!-- Please don't remove this, keep my open source work credited :) -->
    		<p class="theme-by text-muted">
          Proudly powered by
          <a href="https://ghost.org">Ghost</a>. 
    		  Theme: modified
          <a href="https://github.com/boh717/beautiful-ghost">beautiful-ghost</a>
          based on
    		  <a href="http://deanattali.com/beautiful-jekyll/">beautiful-jekyll</a>.
          Search provided by
          <a href="https://github.com/jamalneufeld/ghostHunter">ghosthunter</a>.
    		</p>
      </div>
    </div>
  </div>
</footer>

<script src="{{asset "js/jquery-1.11.2.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
<script src="{{asset "js/bootstrap.min.js"}}"></script>
<script src="{{asset "js/main.js"}}"></script>
<script src="{{asset "js/prism.js"}}"></script>

{{> google-analytics}}
